.spacer {
  flex: 1 1 auto;
}

.application-contents {
  display: flex;
  flex-direction: column;
}

.app-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.app-logo mat-icon {
  margin-right: 0.2em;
}

mat-toolbar-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
